[
    {
        "Token": "your_token",
        "Nodes": [
            {
                "PubKey": "pubkey1"
            },
            {
                "PubKey": "pubkey2"
            },
            {
                "PubKey": "pubkey3"
            },
            {
                "PubKey": "pubkey4"
            },
            {
                "PubKey": "pubkey5"
            }
        ]
    }
]